/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  @media (prefers-color-scheme: dark) {
    --color-bg: hsl(250, 11%, 22%);
    --color-fg: hsl(0, 0%, 93%);
    --color-accent: hsl(138, 60%, 80%);
    --color-drop: hsl(138, 60%, 80%);
    --color-drop-bg: hsl(250, 11%, 98%);
    --color-accent2: #222;
    --color-btn-bg: hsl(138, 40%, 90%);
    --color-btn-bg-hover: hsl(138, 40%, 70%);
    --color-settings-bg: hsl(250, 11%, 30%);
    --color-titlebar-bg: hsl(250, 11%, 20%);
  }
  
  @media (prefers-color-scheme: light) {
    --color-bg: hsl(250, 11%, 98%);
    --color-fg: hsl(250, 11%, 22%);
    --color-accent: hsl(138, 60%, 33%);
    --color-drop: hsl(138, 60%, 80%);
    --color-drop-bg: hsl(250, 11%, 88%);
    --color-accent2: #eee;
    --color-btn-bg: hsl(138, 40%, 33%);
    --color-btn-bg-hover: hsl(138, 40%, 23%);
    --color-settings-bg: hsl(250, 11%, 90%);
    --color-titlebar-bg: hsl(250, 11%, 80%);
  }

  [data-theme="dark"] {
    --color-bg: hsl(250, 11%, 22%);
    --color-fg: hsl(0, 0%, 93%);
    --color-accent: hsl(138, 60%, 80%);
    --color-drop: hsl(138, 60%, 80%);
    --color-drop-bg: hsl(250, 11%, 98%);
    --color-accent2: #222;
    --color-btn-bg: hsl(138, 40%, 90%);
    --color-btn-bg-hover: hsl(138, 40%, 70%);
    --color-settings-bg: hsl(250, 11%, 30%);
    --color-titlebar-bg: hsl(250, 11%, 20%);
  }
  [data-theme="light"] {
    --color-bg: hsl(250, 11%, 98%);
    --color-fg: hsl(250, 11%, 22%);
    --color-accent: hsl(138, 60%, 33%);
    --color-drop: hsl(138, 60%, 80%);
    --color-drop-bg: hsl(250, 11%, 88%);
    --color-accent2: #eee;
    --color-btn-bg: hsl(138, 40%, 33%);
    --color-btn-bg-hover: hsl(138, 40%, 23%);
    --color-settings-bg: hsl(250, 11%, 90%);
    --color-titlebar-bg: hsl(250, 11%, 80%);
  }

  --titlebar-height: 37px;

}
body {
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* background: var(--color-bg); */
  /* color: var(--color-fg); */
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar:hover {
  width: 1em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
  /* border-radius: 1rem; */
  background: rgba(0, 0, 0, 0.25);
}

.draggable {
  -webkit-app-region: drag;
}
.no-draggable {
  -webkit-app-region: no-drag;
}
.titlebar-icon {
  max-width: 16px;
  height: auto;
}
.titlebar-icon path {
  fill: var(--color-fg);
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

a {
  color: var(--color-accent);
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

.btn {
  background-color: deeppink;
  font-weight: bold;
  font-family: inherit;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  background-color: #eee;
  cursor: pointer;
  word-break: break-all;
}
.btn:hover {
  background-color: #ddd;
}
.btn:disabled {
  cursor: auto;
}
.btn:disabled:hover {
  background-color: #eee;
}

.unbutton {
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
}

.noscroll {
  overflow: hidden;
}

p {
  margin: 1rem 0 0.25rem;
}